<h1 style="font-size: 2.0em;">Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)</h1>

<h1 style="font-size: 1.6em;">Import Modules</h1>

In [3]:
import pandas as pd

print(pd.__version__)

2.2.2

<h1 style="font-size: 1.6em;">Persiapan Data Frame</h1>

In [6]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

<h1 style="font-size: 1.6em;">Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)</h1>

In [9]:
df.dtypes

nama    object
ipk     object
dtype: object

In [11]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [13]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64

In [17]:
df['ipk'] = df['ipk'].astype(float)

In [19]:
df['ipk'].apply(type).value_counts()

ipk
<class 'float'>    5
Name: count, dtype: int64