<h1 style="font-size: 2.5em;">Menggabungkan Dua Data Frame Secara Berdampingan</h1>

<h1 style="font-size: 1.6em;">Import Modules</h1>

In [4]:
import pandas as pd

print(pd.__version__)

2.2.2

<h1 style="font-size: 1.6em;">Persiapan Data Frame</h1>

In [7]:
d1 = {'col1':[1, 2, 3], 
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [9]:
d2 = {'col3':[4, 5, 6], 
      'col4':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

   col3  col4
0     4    40
1     5    50
2     6    60

<h1 style="font-size: 1.6em;">Menggabungkan (merge) dua Data Frame secara berdampingan</h1>

In [14]:
df = pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1  col2  col3  col4
0     1    10     4    40
1     2    20     5    50
2     3    30     6    60