<h1 style="font-size: 2.0em;">Akses nilai variabel dalam fungsi query</h1>

<h1 style="font-size: 1.6em;">Import modules</h1>

In [3]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

<h1 style="font-size: 1.6em;">Persiapan Data Frame</h1>

In [6]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   3   4  11   7  15
1   3  10  18   4   5
2   9  12   4   2   7
3  12   2  16  16  11
4   8   4   5  10  16

<h1 style="font-size: 1.6em;">Akses nilai variabel pada query()</h1>

In [11]:
df.query('A > 10')

    A  B   C   D   E
3  12  2  16  16  11

In [13]:
rerata = df['A'].mean()
rerata

7.0

In [15]:
df.query('A > @rerata')

    A   B   C   D   E
2   9  12   4   2   7
3  12   2  16  16  11
4   8   4   5  10  16