<h1 style="font-size: 2.5em;"><h1 style="font-size: 2.5em;">MEMBENTUK KOLOM BERTIPE DATETIME DARI BEBERAPA KOLOM LAIN PADA PANDAS DATA FRAME</h1></h1>

<h1 style="font-size: 1.6em;">Import Modules</h1>

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

<h1 style="font-size: 1.6em;">Persiapan Data Frame</h1>

In [7]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                 columns=cols)
df

   usia
0    11
1    20
2     4
3    32
4    10
5     5
6    43
7    41
8    35
9    44

<h1 style="font-size: 1.6em;">Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()</h1>

In [18]:
df['kelompok_usia'] = pd.cut(df['usia'],
                             bins = [0, 18, 65, 99],
                             labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    11          anak
1    20        dewasa
2     4          anak
3    32        dewasa
4    10          anak
5     5          anak
6    43        dewasa
7    41        dewasa
8    35        dewasa
9    44        dewasa