<h1 style="font-size: 2.5em;">SELEKSI KOLOM DAN BARIS PADA DATA FRAME MENGGUNAKAN LOC</h1>

__Import Modules__

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

__Persiapan Data Frame__

In [4]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0  11  15   3  15  14
1  17  15   4   6   6
2   4   4  17   9  19
3  18  12   9  14  14
4   1  14   2  11   2
5  19  10   1  18   7
6  16   7  19   6   2
7  16   5  10  16  12
8   9   5   5   3   9
9  10   8  10  14   5

__Seleksi Kolom dan baris menggunakan *loc*__

In [11]:
df.loc[[0, 3, 4], ['B', 'E']]

    B   E
0  15  14
3  12  14
4  14   2

__Seleksi Baris dengan Kondisi__

In [15]:
df.loc[df['B']>10, ['B', 'D', 'E']]

    B   D   E
0  15  15  14
1  15   6   6
3  12  14  14
4  14  11   2

__Slicing Data Frame dengan *loc*__

In [18]:
df.loc[0:4, 'B':'D']

    B   C   D
0  15   3  15
1  15   4   6
2   4  17   9
3  12   9  14
4  14   2  11