<h1 style="font-size: 2.5em;">MEMBALIK URUTAN BARIS DAN KOLOM PADA DATA FRAME</h1>

__Import Modules__

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

__Persiapan Data Frame__

In [14]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  7  9  2  3  5
1  3  7  5  5  7
2  4  6  6  9  9
3  1  4  2  2  5
4  6  7  9  6  4

__Membalik Urutan Kolom__

In [12]:
df.loc[:, ::-1]

   E  D  C  B  A
0  1  2  5  8  9
1  7  9  2  9  5
2  2  5  8  2  5
3  9  5  5  6  9
4  8  4  7  2  1

__Membalik Urutan Baris__

In [32]:
df.loc[::-1]

   A  B  C  D  E
4  6  7  9  6  4
3  1  4  2  2  5
2  4  6  6  9  9
1  3  7  5  5  7
0  7  9  2  3  5

__Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index__

In [19]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  6  7  9  6  4
1  1  4  2  2  5
2  4  6  6  9  9
3  3  7  5  5  7
4  7  9  2  3  5