<h1 style="font-size: 2.5em;">MEMERIKSA KESAMAAN ANTAR DUA BUAH KOLOM (SERIES) PADA DATA FRAME</h1>

__Import Modules__

In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

__Persiapan Data Frame__

In [7]:
data = {'A':[15, 15, 18, np.nan, 12],
        'B':[15, 15, 18, np.nan, 12]}
df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

__Mengenal Pandas Series__

In [10]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [12]:
type(df['A'])

pandas.core.series.Series

In [14]:
type(df)

pandas.core.frame.DataFrame

__Memeriksa Kesamaan dengan Operator ==__

In [17]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

__Memeriksa Kesamaan dengan Method equals()__

In [20]:
df['A'].equals(df['B'])

True

__Memeriksa kesamaan antar dua Data Frame__

In [23]:
df1 = df.copy(deep=True)
df.equals(df1)

True

In [25]:
df==df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True